div {
	border: red 1px solid;
	margin:10px 10px 10px 10px;
}

#menu_container {
	width: 100%;
	position: fixed;
	top:0px;
}

#menu {
	text-align: right;
	padding-right: 10px;
}

#home_module {
	text-align: center;
}

#home_module_description {
    margin: 0 150px 0 150px;
}

#details_module {
	overflow: hidden;
    clear: both;
    display: inline-flex;
    position: relative;
    height: 50%;
}

#details_image_container {
	float: left;
    display: inline-flex;
}

#details_image {
	width: 300px;
    height: 300px;
    display: inline-flex;
    margin: 0 50px 0 50px;
}

#details_description_container {
	float: left;
    width: 50%;
    height: 70%;
    display: inline-flex;
    overflow: hidden;
}

#details_description {
    margin-top: 50px;
}

#more_info_module {
	text-align: center;
}

#email_input {
	width: 30%;
}
